body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #03123D;

}


.header-container-mobile{
  display: none;
}




.reel-image{
  margin-left: -10px;
  margin-right: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-container {
  display: flex;
  /* width: 100vw; */
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background: #03123D;
}


.search {
  display: flex;
  width: 216px;
  height: 32px;
  /* padding: 4px 8px; */
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--white-1, #FFF);
  background: rgba(255, 255, 255, 0.00);
  color: white;
  background-image: url('./assets/search-icon.svg');
  background-repeat: no-repeat;
  text-indent: 20px;
}



/* Nav Bar */





.sidebar-container {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  align-items: flex-start;
  background: #03123B;
}


.sidebar-nav {
  display: flex;
  height: 100vh;
  padding: 10px 14px 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.sidebar-nav>a {
  color: #FFF;
  text-decoration: none;
}






/* Pages */

/* Films */

.container-outer {
  height: 50px;
  width: 220px;
  display: flex;
  padding-right: 14px;

  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.container-outer:hover {
  height: 50px;
  display: flex;
  width: 220px;
  padding-right: 14px;
  /* width: 71%; */
  align-items: center;
  justify-content: space-between;
  background-color: #CB1A80;
  border-radius: 6px;
}

.container-inner {
  display: flex;
  padding: 8px 12px;
  /* width: inherit; */
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}


.container-inner>span {
  color: var(--white-1, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  /* width: 71%; */
  /* Heading/Med */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.5px;
}



/* Home Page */


.home-container {
  background: #03123D;
  position: absolute;
  top: 12%;
  left: 20%;
  height: 80%;
  width: 80%;
  /* background-color: bisque; */
}

.home-inner-upper-container {
  position: absolute;
  /* top: 20%; */
  left: 10%;
  display: flex;
  width: 695px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  border: 2px solid #E0E6ED;
  background: #FFF;
  box-shadow: 0px 7px 34px 0px rgba(23, 23, 37, 0.25);


}

.home-innerContainer-p{
  color: #3B3F5C;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
  opacity: 0.800000011920929;
}
.home-innerContainer-h5{
  color: #3B3F5C;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 109.091% */
letter-spacing: 0.14px;
}

.home-page-image {
  width: 100%;
  height: 218px;
}



/* Films container */


.films-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 12px;
  padding-right: 16px;
}


.film-container {
  width: 99%;
  color: white;
  margin-bottom: 15px;
}


.film-poster {

  border-radius: 8px;
  background: var(--white-2, #FAFAFB);
  height: 200px;
  align-self: stretch;
  margin-bottom: 7px;
}


.film-name {
  display: flex;
  padding: 12px 12px 12px 16px;
  align-items: center;
  border-radius: 8px;
  background: rgba(249, 250, 253, 0.20);
}

.reel-icon {
  margin-right: 12px;
}

.options-icon {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  background: rgba(249, 250, 253, 0.20);
}

.films {
  color: white;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 22px;
}

.film-heading-toggle {
  display: flex;
  justify-content: space-between;


}

.film-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: inline;

}

.button-left{
  border-top-left-radius: 4px;
  border-end-start-radius: 4px;
  border: 1px solid #DEDEDE;
  background: var(--grey-3, #F1F1F5);
  color: #696974;
  
}
.button-right{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #DEDEDE;
  background: #F1F1F5;
  color: #696974;
  
}

/* .film-button::selection {
  background-color: transparent;
  border: 1px solid white;
  background-color: white;
  color: grey;
  display: inline;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}


.grid-buttons {
  margin-right: 25px;
}


/* List View */

.list-view-main-container {
  padding-right: 15px;
}

/* .list-view {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-align: left;
} */



.grid-view {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 12px;
  /* width: 100%;*/
  /* height: 50px; */

  /* padding: 12px; */
  /* text-align: left; */
}


.list-view-span {
  color: var(--white-1, #FFF);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  /* width: 25%; */

  /* Heading/Med */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.5px;
}

.list-view-heading-container {
  border-radius: 6px 6px 6px 6px;
  background: #4D5875;
}

span {
  text-align: left;
  width: fit-content;
}

.grid-view-information-container {
  /* padding-left: 12px; */
}

.options-icon-listView-container {
  display: flex;
  justify-self: end;
  padding-right: 16px;
}


/* Drop Down Menu */

.dropdown-container {
  position: absolute;
  margin-left: 169px;
  color: black;
  display: flex;
  width: 172px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  border-radius: 4px;
  border: 1px solid var(black, #F1F1F5);
  background: #FFF;
}

.dropdown-container-grid {
  margin-left: 16%;
}

.dropdown-container-list {
  margin-left: 77%;
  margin-top: 16%;
}


.dropdown-image {
  color: white;
}

.dropdown-item-container {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
}

.dropdown-item-container:hover {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  background: #F1F1F5;
}



/* Detail Side Bar */


.detail-sidebar {
  overflow: scroll;
    width: 40%;
    flex-shrink: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    color: white;
    background-color: #03123B;

}


.detailSidebar-header {
  display: flex;
  padding: 16px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid white;
  color: white;
  background: #03123B;
  margin-bottom: 30px;
}


.detailSidebar-header>button {
  background: none;
  border: 0;
  padding: 0;
}

.detailSidebar-data {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}


.detailSidebar-data-content {
  margin-bottom: 20px;
}

.heading {
  margin: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}


.summary {
  border-radius: 8px;
  border: 1px solid var(--black-dark-200, #F1F1F5);
  background: var(--black-dark-100, #FAFAFB);
  color: var(--text-black, #252C32);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding: 15px 16px;
}


.detailSidebar-image {
  border-radius: 20px;
  width: 100%;
  height: 230px;
  border: 1px solid white;
  margin-top: 15px;
}

.close-button-sidebar {
  cursor: pointer;
}

.button-container {
  padding: 15px 12px;
  border-top: 1px solid white;
  text-align: center;



}

.button {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: #CB1A80;
  color: #FAFAFB;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;

  /* 133.333% */
}


.detailSidebar-header>span {
  color: var(--white-1, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 150% */
  letter-spacing: 0.1px;

}


/* Dialog Box */

.dialog-box-container {
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  top: 40%;
  left: 45%;
  /* display:grid; */
  /* place-items:center; */
  background-color: white;
  height: fit-content;
  width: 20%;
  padding: 2%;
  border-radius: 12px;


  /* Shadow/xl */
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.dialog-box-warning {
  display: flex;
  flex-direction: column;
}

.dialogBox-warning1 {
  color: #101828;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}

.dialogBox-warning2 {
  color: #667085;

  /* Text sm/Normal */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.img-div1 {
  background-color: #FC5A5A;
  border-radius: 50%;
  width: 50px;
  opacity: 0.1;
}

/* .img-div2{
  background-color:#FC5A5A;
  border-radius: 50%;
  width: 30px;
  opacity: 1; 

}*/

.dialogBox-delete-icon {
  width: 50px;

}

.dialogBox-close {
  border-radius: 8px;
  border: 1px solid var(--grey-stroke, #DEDEDE);
  background: var(--white, #FFF);
  width: 46%;
  height: 100%;
  color: #344054;
  /* Text md/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  /* Shadow/xs */
  height: 3rem;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.dialog-box-button {
  margin-top: 10%;

  display: flex;
  justify-content: space-between;
}


.dialogBox-delete {
  width: 46%;
  border-radius: 8px;
  border: 1px solid #FC5A5A;
  background: #FC5A5A;
  /* Shadow/xs */
  height: 3rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #FFF;

  /* Text md/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  cursor: pointer;


}

.name {
  color: #667085;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}


@media (max-width : 1295px){



/* Nav Bar */





.sidebar-container {
  display: flex;
  height: 100%;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  background: #03123B;
}


.sidebar-nav {
  display: flex;
  height: 100vh;
  padding: 10px 14px 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.sidebar-nav>a {
  color: #FFF;
  text-decoration: none;
}






/* Pages */

/* Films */

.container-outer {
  height: 50px;
  width: 200px;
  display: flex;
  padding-right: 14px;

  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.container-outer:hover {
  height: 50px;
  display: flex;
  width: 200px;
  padding-right: 7px;
  /* width: 71%; */
  align-items: center;
  justify-content: space-between;
  background-color: #CB1A80;
  border-radius: 6px;
}

.container-inner {
  display: flex;
  padding: 4px 6px;
  /* width: inherit; */
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}


.container-inner>span {
  color: var(--white-1, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  /* width: 71%; */
  /* Heading/Med */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.5px;
}



}











@media (max-width : 1130px){


/* Nav Bar */

.dropdown-container-list {
  margin-left: 68%;
  margin-top: 25%;
}


.sidebar-container {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  align-items: flex-start;
  background: #03123B;
}


.sidebar-nav {
  display: flex;
  height: 100vh;
  padding: 10px 14px 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.sidebar-nav>a {
  color: #FFF;
  text-decoration: none;
}






/* Pages */

/* Films */

.container-outer {
  height: 50px;
  width: 180px;
  display: flex;
  padding-right: 14px;

  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.container-outer:hover {
  height: 50px;
  display: flex;
  width: 180px;
  padding-right: 7px;
  /* width: 71%; */
  align-items: center;
  justify-content: space-between;
  background: #CB1A80 !important; 
  border-radius: 6px;
}

.container-inner {
  display: flex;
  padding: 4px 6px;
  /* width: inherit; */
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}


.container-inner>span {
  color: var(--white-1, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  /* width: 71%; */
  /* Heading/Med */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.5px;
}


}





@media (max-width : 1040px){



/* Nav Bar */





.sidebar-container {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  align-items: flex-start;
  background: #03123B;
}


.sidebar-nav {
  display: flex;
  height: 100vh;
  padding: 10px 14px 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.sidebar-nav>a {
  color: #FFF;
  text-decoration: none;
}






/* Pages */

/* Films */

.container-outer {
  height: 50px;
  width: 150px;
  display: flex;
  padding-right: 7px;

  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.container-outer:hover {
  height: 50px;
  display: flex;
  width: 150px;
  padding-right: 7px;
  /* width: 71%; */
  align-items: center;
  justify-content: space-between;
  background-color: #CB1A80;
  border-radius: 6px;
}

.container-inner {
  display: flex;
  padding: 4px 6px;
  /* width: inherit; */
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}


.container-inner>span {
  color: var(--white-1, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  /* width: 71%; */
  /* Heading/Med */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.5px;
}


}



@media (max-width : 1024){
  .dropdown-container-list {
    margin-left: 68%;
    margin-top: 25%;
}
}















@media (max-width : 873px){



/* Nav Bar */





.sidebar-container {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  align-items: flex-start;
  background: #03123B;
}


.sidebar-nav {
  display: flex;
  height: 100vh;
  padding: 10px 14px 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.sidebar-nav>a {
  color: #FFF;
  text-decoration: none;
}






/* Pages */

/* Films */

.container-outer {
  height: 50px;
  width: 120px;
  display: flex;
  padding-right: 7px;

  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.container-outer:hover {
  height: 50px;
  display: flex;
  width: 120px;
  padding-right: 7px;
  /* width: 71%; */
  align-items: center;
  justify-content: space-between;
  background-color: #CB1A80;
  border-radius: 6px;
}

.active{
  height: 50px;
  display: flex;
  width: 120px;
  padding-right: 7px;
  /* width: 71%; */
  align-items: center;
  justify-content: space-between;
  background-color: #CB1A80;
  border-radius: 6px;
}

.container-inner {
  display: flex;
  padding: 4px 6px;
  /* width: inherit; */
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}


.container-inner>span {
  color: var(--white-1, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  /* width: 71%; */
  /* Heading/Med */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.5px;
}


}




@media (max-width : 816px){
  .films-container{
    grid-template-columns: 0.5fr 0.5fr;
  }
}



@media (max-width : 768px){
  .detail-sidebar{
    overflow: scroll;
    width: 40%;
    flex-shrink: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    color: white;
    background-color: #03123B;
  }
  .dropdown-container-list {
    margin-left: 58%;
    margin-top: 33%;
  }
}












@media (max-width : 426px){


/* Nav Bar */
/* 
.sidebar-container {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  background: #03123B;
}


.sidebar-nav {
  display: flex;
  height: 100vh;
  padding: 10px 14px 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.sidebar-nav>a {
  color: #FFF;
  text-decoration: none;
} */






/* Pages */

/* Films */

/* .container-outer {
  display: none;
} */

.films-container{
  grid-template-columns: 0.75fr;
}

.header-container>a>img{
  display: none;
}


.detail-sidebar{
  overflow: scroll;
    width: 100vw;
    flex-shrink: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    color: white;
    background-color: #03123B;
}


.remove{
  display: none;
}

}






.child:hover{
background: rgba(239, 239, 240, 0.3) !important;
}